<div class="container p-4">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h5>News App 1</h5></mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
          height="200"
          width="50%"
        />
        <mat-card-actions>
          <button mat-button>Add News</button>
          <button mat-button>App Permissions</button>
          <button mat-button>Modify App</button>
          <button mat-button>Delete App</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h5>News App 2</h5></mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
          height="200"
          width="50%"
        />
        <mat-card-actions>
          <button mat-button>Add News</button>
          <button mat-button>App Permissions</button>
          <button mat-button>Modify App</button>
          <button mat-button>Delete App</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h5>News App 3</h5></mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
          height="200"
          width="50%"
        />
        <mat-card-actions>
          <button mat-button>Add News</button>
          <button mat-button>App Permissions</button>
          <button mat-button>Modify App</button>
          <button mat-button>Delete App</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h5>News App 4</h5></mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
          height="200"
          width="50%"
        />
        <mat-card-actions>
          <button mat-button>Add News</button>
          <button mat-button>App Permissions</button>
          <button mat-button>Modify App</button>
          <button mat-button>Delete App</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
